$color-red: #c42032;
$color-red-dark: #d20f1e;
$color-black: #231f20;
$color-white: #fff;
$color-nav: #202020;
$color-grey: #aeaeae;
$color-facebook: #3b5998;
$color-twitter: #1da1f2;
$color-google-plus: #e47067;
$color-linkedin: #3395c7;
$color-border: #e4e4e4;
$color-sidebar: #fafafa;
$color-sidebar-icon: #bbb;
$color-dark-bg: #333333;
$color-grey-bg: #e6e6e6;
$color-popup: #0cb8f5;

$toolbar-height: 64px;
$content-wrapper: 1200px;

$layout-breakpoint-widescreen: 1600px !default;
$layout-breakpoint-ipad-landscape: 1024px !default;
$layout-breakpoint-laptop: 980px !default;
$layout-breakpoint-ipad-portrait: 768px !default;
$layout-breakpoint-iphone-landscape: 736px !default;
$layout-breakpoint-iphone-portrait: 414px !default;
